%h1 
  = @pr.name

%ol
  - @problems.each do |p|
    %li
      = raw(p.body.bbcode_to_html.gsub("\n", "<br/>"))
      %br/
      = link_to "(Link)", p 
      - if p.solutions.empty?
        %strong <font color="red">(Needs solution!)</font>