%h1 
  = @ps.name

%ol
  - @problems.each do |p|
    %li
      = raw(RichText.new.problem_html(p))
      %br/
      %br/


%br/
- if user_signed_in? 
  = link_to('Edit', { action: "edit" }, { class: "btn btn-default", method: 'get' }) 
