%h1 About

%br/
The Math Olympiad Organization Project is an <a href="https://github.com/zhukeepa/mathorg">open-source</a> repository of problems collected from USA Math Olympiad Summer Program handouts (with permissions from their creators), past IMO Shortlists, and past USAMO's, started by <a href="http://alexzhu.me">Alex Zhu</a>. It differs from other resources in a number of ways: 
%ul
  %li It's prepopulated with a huge number of olympiad problems, most of which are already organized by topic. 
  %li Solutions are sorted by upvotes and downvotes, are always hidden at first, can show hints, and can be commented on. (<a href="http://i.snag.gy/I6QGQ.jpg">Screenshot 1</a>, <a href="http://i.snag.gy/dWixF.jpg">Screenshot 2</a>)
  %li Users can mark problems as favorites, problems they're working on, and problems they've solved, and access these problems (<a href="http://i.snag.gy/ktZwr.jpg">Screenshot</a>)
  %li Users can search for problems by keywords, source, topic, difficulty, and elegance. (<a href="http://i.snag.gy/TVZyo.jpg">Screenshot 1</a>, <a href="http://i.snag.gy/Ay9S1.jpg">Screenshot 2</a>)
%br/
%br/
Alex Zhu is currently maintaining this project, but is looking for someone else to take over. If you are interested in maintaining this project, please <a href="http://alexzhu.me/contact/">contact Alex</a>. 
%br/
%br/
Please report any issues (bugs, confusing features, etc.) with this website at <a href="https://github.com/zhukeepa/mathorg/issues">https://github.com/zhukeepa/mathorg/issues</a>. 
%br/
%br/
Many thanks to <a href="http://www.mit.edu/~evanchen/olympiad.html">Evan Chen</a> and <a href="http://web.mit.edu/vywang/www/">Victor Wang</a> for their feedback, Diego Roque for getting the IMO Shortlist and USAMO problems onto the website, and to all the instructors who contributed their handouts for this project. 