%h1 About

The Math Olympiad Organization Project is an <a href="https://github.com/zhukeepa/mathorg">open-source</a> repository of problems collected from USA Math Olympiad Summer Program handouts (with permissions from the owners) past IMO Shortlists, and past USAMO's, started by <a href="http://alexzhu.me">Alex Zhu</a>. It differs from other resources in a number of ways: 
%ul
  %li It's easy to find problems categorized by topic
  %li Users can search for problems by topic, difficulty, and elegance
  %li Solutions are sorted by upvotes/downvotes, and can show hints
  %li Users can mark problems as favorites, problems they're working on, and problems they've solved

Alex Zhu is <b>not</b> actively maintaining this project. Please <a href="http://alexzhu.me/contact/">contact Alex</a> if you are interested in maintaining it.  