<h2>Ratings Guide</h2>
<br/>
<strong>Topics</strong> (under solutions): Topics specific to the <em>solution</em>, not the problem. We're probably inclined to categorize problems based on salient characteristics of their solutions, even though this categorization should be done on the solution level. Furthermore, doing so can also give spoilers, like if "Smoothing" is listed as a tag for a combinatorics problem.
<br/>
<br/>
<strong>Writeup quality</strong>: Vote up if you think the writeup is of high quality. 
<br/>
<br/>
<strong>Elegance</strong>: 2 should be for the prettiest solutions ever, -2 for the ugliest, 0 for meh. 
<br/>
<br/>
<strong>Instructiveness</strong>: 0 = I learned nothing, 2 = everyone should do this problem. 
<br/>
<br/>
<strong>Difficulty</strong>: This is for YOU to rate personally based on how hard YOU found this problem. -2 is really easy for you, 2 is really hard for you. (Currently, using this + something like <a href="http://en.wikipedia.org/wiki/Item_response_theory">item response theory</a> seems like the most reasonable way of arriving at a difficulty scale, even if it's a crude one.)