.row.list-group 
  - @problem_results.each do |pr|
    .list-group-item
      %strong
        = link_to pr.description, pr
      %br/
      %br/

      %strong Source:
      = pr.source
      %br/

      = render 'shared/topic_list', name: 'Topic', topics: pr.topics
      %br/
      %br/

      = raw(pr.body.bbcode_to_html.gsub("\n", "<br/>"))
      %br/