%br/
%ul{class: "nav nav-tabs", id: "myTab"}
  %li{class: "active"}
    %a{href: "#problems", data: {toggle: "tab"}}Problems
  %li
    %a{href: "#explanations", data: {toggle: "tab"}}Explanations

.tab-content
  #problems{class: "tab-pane fade in active"}
    = render 'problem'
  #explanations{class: "tab-pane fade"}
    = render 'explanation'