%h1 Topic List

= link_to 'New topic', new_topic_path, { class: "btn btn-default" }

%br/
%br/

Green topics are topics with at least one problem, explanation, or solution categorized under it. 

%ul
= render 'topic', topic: @topic