- favorite_text = current_user.problems_marked_as(:favorite).include?(problem) ? '<em>Favorited</em>' : 'Mark as favorite'
- working_on_text = current_user.problems_marked_as(:working_on).include?(problem) ? '<em>Working on</em>' : 'Mark as working on'
- solved_text = current_user.problems_marked_as(:solved).include?(problem) ? '<em>Solved</em>' : 'Mark as solved'
.markings
  .btn-group
    = link_to raw(favorite_text), problem_mark_path(problem, markable: :favorite), { class: "btn btn-default btn-smll", remote: true }
    = link_to raw(working_on_text), problem_mark_path(problem, markable: :working_on), { class: "btn btn-default btn-small", remote: true } 
    = link_to raw(solved_text), problem_mark_path(problem, markable: :solved), { class: "btn btn-default btn-small", remote: true }