(+|-): 
= @explanation.get_upvotes.size
|
= @explanation.get_downvotes.size

%br/
= link_to "Upvote", vote_explanation_path(user_id: current_user.id, pos: true), remote: true
| 
= link_to "Downvote", controller: 'explanations', action: 'vote', user_id: current_user.id, pos: false, remote: true
%br/ 