- topics = categorizable.leaf_topics
- if !(defined? name) || name.nil?
  - name = categorizable.class.topics_name.capitalize.to_s

.topic-list{id: "#{categorizable.class}_#{categorizable.id}_topiclist"}
  = render 'shared/topic_list', name: name, topics: topics

  - if user_signed_in?
    = link_to '', categorizables_edit_topic_list_path(categorizable_id: categorizable.id, |
      categorizable_klass: categorizable.class, name: name),  | 
      { class: "glyphicon glyphicon-edit", remote: true }