- if user.notifications.size > 0
  .row.list-group 
    - user.notifications.each_with_index do |n, i|
      .notification{data: {index: i}}
        .list-group-item
          = raw(n)
          .notification-delete
            %a{href:"javascript:;"} (Delete)
- else
  %em
    You have no notifications right now. 