@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 120px;
  font-size: 17px;
}

a.problem-link {
    color: #333333;
    text-decoration: none; 
}

a.problem-link:hover {
    color: #23527A; 
    text-decoration: underline; 
}